// app global css in SCSS form
@font-face {
    font-family: Montserrat;
    src: url('../../public/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: Montserrat-Light;
  src: url('../../public/fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Source-Code;
  src: url('../../public/fonts/SourceCodePro-Medium.ttf');
}

.montserrat {
    font-family: 'Montserrat';
}
.montserrat-light {
  font-family: 'Montserrat-Light';
}

.montserrat-bold {
  font-family: 'Montserrat-Bold';
}
.source-code {
  font-family: 'Source-Code';
}
